body{
  background-color: rgb(109, 197, 230);
  font-family: 'Enriqueta', serif;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
#gradient
{
  width: 100%;
  height: 800px;
  padding: 0px;
  margin: 0px;
}
/* ヘッダー*/
header {
  height: 200px;
  margin-bottom: 20px;
}

nav{
  float: right;
  position: relative;
}

.site-width{
  margin: 0 auto;
  text-align: center;
  width: 980px;
}
.site-width p,
.merit p{
  text-align: left;
}

nav ul li{
  float: left;
  list-style: none;
  margin: 10px 20px;
}
li a {
  color: #444;
  text-decoration: none;
}
li a:hover{
  color: rgb(52, 228, 178);
  transition: all 0.3s ease;
}
/*トップバナー*/
.top-baner{
  background-image: url(mountains-1985027_1920.jpg);
  background-size: cover;
  line-height: 250%;
  height: 450px;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
}

/* メインコンテンツ*/
title {
  margin: 0 auto;
}

.to-account{
  margin: 50px auto;
  text-align: center;
  width: 280px;

}
.account {
  border-radius: 10px;
  background: rgb(2, 196, 141);
  color: rgb(242, 242, 242);
  padding: 10px 35px;
  text-decoration: none;
}
.account:hover {
  border-radius: 10px;
  background: rgb(52, 228, 178);
  color: rgb(242, 242, 242);
  padding: 10px 35px;
  text-decoration: none;
  transition: all 0.4s ease;
}
footer{
  margin :50px auto;
  padding: 20px;
  text-align: center;
}

/* 登録フォーム */
.account-form{
  margin: 0 auto;
  padding: 50px 150px;
  width: 25%;
}
input[type= "text"],
input[type= "password"]{
  height: 50px;
  margin-bottom: 30px;
  width: 100%;
}

.submit{
  text-align: center;
}
.err_msg{
  color: rgb(247, 32, 32);
}
/* コンタクトフォーム*/
.contact{
  margin: 0 auto;
  padding: 50px 150px;
  width: 75%;
}
textarea{
  width: 100%;
}
